.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin-top: 4px;
  background: linear-gradient(
    90deg,
    #155f8d 0%,
    #155f8d 30.2%,
    white 30.2%,
    white 100%
  );
}
.section h1 {
  text-decoration: underline;
  margin-bottom: -40px;
}
.title {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  margin-left: 20px;
}
.infoContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-right: 50px;
}
.infoContainer img {
  border: solid 1px black;
}
.infoContainer a {
  padding: 5px;
  border: solid 1px black;
  border-radius: 20px;
  background-color: #155f8d;
  text-decoration: none;
  color: black;
  margin-bottom: 4px;
}
.infoContainer a:hover {
  background-color: #6d7275;
  transition: 0.5s;
}
@media (max-width: 425px) {
  .section {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 4px 0px 0px 0px;
  }
  .infoContainer img {
    width: 457px;
  }
  .icons img {
    width: 100px;
  }
}
