.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background: #e8e8e8;
  overflow: hidden;
  overflow-y: scroll;
}
.section h1 {
  text-decoration: underline;
}
.title {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  margin-left: 20px;
}
.infoContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 50px;
  margin-top: 20px
}
.infoContainer img {
  border: solid 1px #333333;
  border-radius: 80px;
}
.infoContainer a {
  padding: 5px;
  border: solid 1px #990100;
  border-radius: 20px;
  background-color: #b90504;
  text-decoration: none;
  color: black;
  margin-bottom: 4px;
}
.infoContainer a:hover {
  background-color: #e8e8e8;
  transition: 0.5s;
}
@media (max-width: 425px) {
  .section {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 4px 0px 0px 0px;
  }
  .infoContainer img {
    width: 457px;
  }
  .icons img {
    width: 100px;
  }
}
