.container{
  display: flex;
  flex-direction: column;
  border-radius: 10x;
  background: linear-gradient(
    30deg,
    #155f8d 0%,
    #155f8d 58.8%,
    white 58.8%,
    white 100%
  );
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title h1{
  text-decoration: underline;
}
.title h2{
  margin-top: -100px;
  margin-bottom: 80px;
}