.Home {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(115deg,white 0%,white 27.5%, #155f8d 27.5%,#155f8d 70%, white 70%,white 100%);
}
.div{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  
}
.div img{
  width: 523px;
  align-items: flex-end;
}

.Home h1, h2 {
  display: flex;
  text-align: center;
  align-items: center;
}

@media(max-width: 1024px){
  .Home h1{
    margin-bottom:-60px;
  }
  .Home h2{
    width: 100%;
    height: 100px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .div{
    flex-direction: column;
    justify-content: center;
  }
  .div img{
    width: 100%;
    margin-bottom: -20px;
  }
}