.section {
  display: flex;
  justify-content: space-between;
}
.section h2 {
}

.title {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 87px;
}

.gridContainer {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: (2);
  grid-gap: 10px;
  justify-content: end;
}
.coldental a {
  text-decoration: none;
}
.coldental :hover {
  background-color: #6d7275;
  transition: 0.5s;
}
.imgContainer {
  background-image: url(https://drive.google.com/uc?id=14bdraVodGrabR-WeuRJau3vH1AB0wLHh);
  width: 300px;
  height: 180px;
  border-radius: 10px;
}
.imgContainer {
  text-decoration: none;
}
.colorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d7275;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  margin-right: 20px;
}
.colorContainer h1 {
  display: none;
}
.colorContainer :hover {
  background-color: #0072bb;
}
.colorContainer h2 :hover {
  display: none;
}
.colorContainer h1 :hover {
  display: block;
}

.Item1 {
  grid-column: 1;
  grid-row: 1;
}
.Item2 {
  grid-column: 2;
  grid-row: 1;
}

.Item3 {
  grid-column: 3;
  grid-row: 1;
}
.Item4 {
  grid-column: 1;
  grid-row: 2;
}
.Item5 {
  grid-column: 2;
  grid-row: 2;
}
.Item6 {
  grid-column: 3;
  grid-row: 2;
}
